<h1>Loans</h1>

<ul>
  <% @loans.each do |loan| %>
    <li><%= "Bank: #{loan.print_bank}" %> <br>
      <%= " Amount: #{number_to_currency(loan.amount)}" %> <br>
      <%= " Interest rate: #{loan.print_interest_rate}" %></li>
  <% end %>
</ul>
