<div class="header"> <h1>Loans</h1> </div>

<ul>
  <% @loans.each do |loan| %>
    <li><%= "Bank: #{loan.bank_id}" %> <br>
      <%= " Amount: #{loan.amount}" %> <br>
      <%= " Interest rate: #{loan.interest_rate}" %></li>
  <% end %>
</ul>
