<div class="header"> <h1>Transfer history</h1> </div>

<ul>
<% @transfers.each do |transfer| %>
  <li><%= "#{transfer.sender.user.username} sent #{number_to_currency(transfer.amount)} to #{transfer.receiver.user.username} at their #{transfer.receiver.bank.name} account." %></li>
<% end %>
</ul>
