/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.navbar-menu a {
	color: white;
	font-weight: bold;
	display: flex;
	padding: 15px 15px 15px 15px;
	margin: 3px;
	border: 14px;
	background-color: rgba(55, 22, 180, 0.55);
	cursor: pointer;
}

.link a {
	color: white;
	font-weight: bold;
	padding: 8px 5px 8px 5px;
	margin: 8px;
	border: 10px;
	background-color: rgba(36, 137, 57, 0.55);	
}

nav {
	padding:1.5em;
}

#backimg {
	background-image: url(https://cdn1.vectorstock.com/i/1000x1000/51/90/drawing-classic-bank-building-as-finance-and-vector-25155190.jpg);
	background-size: cover;
}

#main_container {

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 700px;
	height: 625px;
	top: 5px;
	bottom: 30px;
	background-image: url(https://wallpapercave.com/wp/TREcQCG.jpg);
	opacity: 0.9;
}



