/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .logo {
	 width: 60px;
	 height: 60px;
	 border-radius: 50%;
	 overflow: hidden;
	 margin-top: 2px;
 }


.navbar-menu a {
	color: white;
	font-weight: bold;
	display: flex;
	padding: 15px 15px 15px 15px;
	margin: 3px;
	border: 14px;
	
}

.navbutton{
	background-color: rgba(36, 37, 42, 1);
	border-style: outset;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin-right: 20px;
	margin-left: 20px;
	cursor: pointer;
}

.link a {
	color: black;
	font-weight: bold;
	padding: 8px 5px 8px 5px;
	margin: auto;
	border: 3px;
	background-color: rgba(250, 216, 89, 1);
	border-style: outset;	
	border-color: rgba(228, 241, 254, 1);
}

nav {
	padding:1em;
}

#backimg {
	background-image: url(https://cdn1.vectorstock.com/i/1000x1000/51/90/drawing-classic-bank-building-as-finance-and-vector-25155190.jpg);
	background-size: cover;
}

#main_container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 700px;
	height: 555px;
	top: 5px;
	bottom: 30px;
	background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-wall-sasi-05.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=77e3bff1e3f287cccd59627d18afae6c);
	border-radius: 100px;
	margin-top: 10px;
	margin-bottom: 20px;
	position: relative;
	border-color: black;
}



.pagebody {
	background: rgba(36, 37, 42, 1);
	opacity: 1;
	width: 600;
	height: 550;
}

.header {
	color: black;
	font-size: 70px;
	font-family: URW Bookman L;
}

.longheader {
	color: black;
	font-size: 40px;
	font-family: URW Bookman L;
}



